@import '../../../common/c2-styles/sass/variables';

.mainBox {
    background-color: $mainBackgroundColor;
    padding: 50px;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 130px 0 130px 0;


        .blockName {
            text-align: left;
        }

        .mainBlock {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            @media screen and (max-width: 768px){
                flex-direction: column;
            }


        }
    }

}










