@import "../../../common/c2-styles/sass/variables";

.BannerMain{
    background-color: $mainBackgroundColor;
    padding-top: 10px;
    font-family: "Rubik",sans-serif;

    .container{
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;

        .textContainer{
            width: 400px;

            & h2 {
                font-size: 52px;
                line-height: 54px;
                color: #fca61f;
                margin: 10px 0;
                font-weight: 600;
            }

            & h1 {
                margin: 5px 0;
                font-size: 70px;
                line-height: 88px;
                font-weight: 700;
                color: #fff;
            }

            & p {
                margin-bottom: 50px;
                font-size: 21px;
                line-height: 33px;
                font-weight: 400;
                color: white;

            }

            .BannerMainButton {
                display: inline-block;

                a {
                    text-decoration: none;
                    padding: 20px 44px;
                    font-size: 18px;
                    background: #fca61f;
                    border: none;
                    color: #fff;
                    border-radius: 35px;
                    line-height: 20px;
                    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

                    &:hover {
                        transition: 0.5s;
                        background-color: #6f34fe;
                        cursor: pointer;
                    }
                }

                &:hover {
                    transition: 0.5s;
                    transform: translateY(-8px);
                }

            }

            .seeButton {
                position: relative;
                text-decoration: none;
                color: #fca61f;
                margin-left: 28px;
                font-size: 20px;
                line-height: 20px;
                padding-bottom: 6px;


                &::after{
                    content: '';
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 2px;
                    width: 100%;
                    background-color: #fca61f;
                    position: absolute;


                }


                &:hover {
                    transition: 0.3s;
                    color: white;

                    &::after{
                        transition: 0.3s;
                        background-color: white;
                    }
                }


            }



        }



    }


}





