.container {


  .background {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: black;
    z-index: 9;
    height: 100%;
    width: 100%;
  }


  .arrowLeft {
    position: fixed;
    z-index: 10;
    font-size: 70px;
    top: 50%;
    left: 10%;
    cursor: pointer;

    &:active {
      transform: scale(0.8);
    }

  }

  .arrowRight {
    position: fixed;
    z-index: 10;
    font-size: 70px;
    top: 50%;
    right: 10%;
    cursor: pointer;


    &:active {
      transform: scale(0.8);
    }

  }

  .modalContainer {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    z-index: 10;



    .modal {
      max-width: 600px;
      background-color: white;


      & img {
        object-fit: cover;
        max-height: 540px;
        width: 100%;
      }

    }



  }


}