@import "src/common/c2-styles/sass/variables";

.footerBlock{
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #8b88b1;
  background-color: $secondBackgroundColor;
  align-content: center;
  @media screen and (max-width: 480px) {
    flex-direction: column;
    align-content: center;
  }


}