@import 'src/styles/variables';

.ToTopIconButton {
  position: relative;
  background: none;
  border: none;

  .iconPosition {
    transition: transform 0.8s cubic-bezier(0.88, -0.36, 0.16, 1.72);
    transform: translate(110px);
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
  }

  .active {
    transform: translate(0);
  }

  .iconStyle {
    background-color: $button-color;
    font-size: 60px;
    border-radius: 100%;
    cursor: pointer;
  }
}
