@import "../../../common/c2-styles/sass/variables";
@import "../../../common/c2-styles/sass/mixims";

*{
    box-sizing: border-box;

}

.mainSkillBlock {
    background-color: $secondBackgroundColor;

    .SkillsContainer {
        max-width: 1200px;
        margin: 0 auto;
        padding: 130px 0 130px 0;


        .skillsBlock{
            display: flex;
            flex-wrap: wrap;
            @media screen and (max-width: 768px){
                flex-direction: column;
            }
        }

    }

}







