.mainBox {
    background-color: brown;
    padding: 50px;
}

.container {
    border: 1px solid;
    width: 80%;
    margin: 0 auto;
}

.blockName {
    border-bottom: 1px solid;
    text-align: center;
}

.skillBlock{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.skillItem {
    margin: 10px auto;
    width: 300px;
    background-color: white;
}

.iconSkill {
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    margin: 0 auto;
}

.titleSkill {
    text-align: center;
    padding: 20px;
    font-weight: bolder;
}

.descSkill {
    padding: 20px;
    border: 1px solid;
}