.blockTitleBox {
  color: white;
  margin-bottom: 50px;



  & h3{
    font-family: "Rubik",sans-serif;
    font-weight: 700;
    color: #fafbfb;
    line-height: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: calc(1.325rem + .9vw);

  }
}

