.mainBox {
    background-color: #faaeae;
    padding: 50px;
}

.container {
    border: 1px solid;
    width: 80%;
    margin: 0 auto;
}

.titleBlock {
    text-align: center;

}

.titleBlock h3 {
    display: inline-flex;
    margin-top: 0;
    background-color: lightgrey;
}

.contactFormBox {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0 auto;
}

.buttonSend{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    font-weight: bolder;
    margin: 20px  auto 0 ;


}
