@import 'src/styles/variables';
@import 'src/styles/mixims';

.root {
  max-width: 1080px;
  margin: 0 auto;

  .container {
    margin: 50px 0 150px 0;
    display: grid;
    grid-template-columns: 40% auto;

    .contactInfo{

    }


    .contactForm{

      display: flex;
      flex-wrap: wrap;
      justify-content: end;


      .InputEmail, .InputName, .Subject{
        display: flex;
        width: 50%;

        & input {
          width: 100%;
          margin: 10px 5px;
          background: #211e39;
          border: none;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.6;
          padding: 17px 30px;
          color: #a09cbb;
          border-radius: 30px;
          outline: none;
        }

        & input.error,  {
          border: 2px solid red;
        }
      }

      .Subject{
        width: 100%;
      }

      & textarea{
        display: flex;
        margin: 10px 5px;
        width: 100%;
        background: #211e39;
        border: none;
        font-size: 16px;
        color: #a09cbb;
        border-radius: 30px;
        padding: 17px 30px;
        resize: none;
        outline: none;
      }

      & textarea.error {
        border: 2px solid     #ff4c60;
      }


      .buttonBlock {
        margin: 10px;
        display: flex;
        width: 100%;
        justify-content: flex-start;


        & button {
          @include button()


        }


      }


      & span {
        border-radius: 20px;
        margin: 20px 0;
        color: #155724;
        padding: 15px 20px;
        letter-spacing: 0.03rem;
        background-color: #d4edda;
        display: block;
        width: 100%;
      }


    }

  }


}
